body{
  background-color: rgb(235, 234, 234);
}
.card{
  background-color: rgb(253, 253, 252);
}
  .link-style {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
  }
.card-title {
  font-size: 1.2rem; /* Adjust as needed */
  font-weight: 500; /* Adjust as needed */
  font-family: Arial, sans-serif; /* Adjust as needed */
}

.card-text {
  font-size: 1rem; /* Adjust as needed */
  font-family: Arial, sans-serif; /* Adjust as needed */
}

.footer h5 {
  font-size: 1.2rem; /* Adjust as needed */
  font-weight: 600; /* Adjust as needed */
  font-family: Arial, sans-serif; /* Adjust as needed */
}
.footer ul li a {
  font-size: 1rem; /* Adjust as needed */
  font-family: Arial, sans-serif; /* Adjust as needed */
}

.icon {
  font-size: 1.2rem; /* Adjust as needed */
  font-family: Arial, sans-serif; /* Adjust as needed */
  /* Add any additional styling for the icon button */
}
/* Homepage.css */

.card {
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.card:hover {
  transform: translateY(-5px); /* Move the card up by 5 pixels on hover */
}
.foot-panel4{
  background-color: #0f1111;
  color: white;
  text-align: center;
  height: 70px;
  padding-top: 20px;

}
.pages{
  font-size: 1rem;
}
.copyright{
  font-size: 0.8rem;
}
.footer a {
  text-decoration: none; /* Remove underline from links */
}